h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.board {
    float: left;
    position: relative;
    align-items: center;
    width: 425;
    height: 425;
}

.piece-square {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.light-square {
    background: tan;
}

.dark-square {
    background: brown;
}