{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>{% block title %} Create Account {% endblock %}</h1>
    <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="email" name="email" id="email-field" class="login-form-field" placeholder="E-mail">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="password" name="retype_password" id="password-field" class="login-form-field" placeholder="Retype Password">
      <input type="button" value="Create Account" id="login-form-submit">
    </form>
  
  </main>
  <script type="text/javascript" src="../static/scripts/login.js"></script>
{% endblock %}